.slider {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .image {
    width: 120vh;
    height:348.188px;
    border-radius: 15px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 3rem;
    color: #333;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 3rem;
    color: #333;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }