.BackgroundImg{
    margin-top: 37px;
    max-height: 348.188px;
}

.ChampBackgroundImg{

    margin-bottom: 0px;
    height: 50vh;
    border-radius: 20px;

}

.ChampPageContent{
    margin-top: 50px;
    height: 50vh;
    border: solid;
    border-color: black;
    border-radius: 25px;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    animation-name: load;
    animation-duration: 0.75s;
    max-width: calc(85vw - 6px);
    

}

@keyframes load{
    from {width: 0%;}
    to {width: 100vw}
}

  