.BackgroundImg
{
    margin-top: 37px;
    max-height: 348.188px;
    width: 100%;
    }

    .ChampBackgroundImg{

        margin-bottom: 0px;
        height: auto;
        width: auto;
    max-height: 348.188px;
    max-width: 200px;
    border-bottom-left-radius: 0px;
    }

    .ChampPageContent{
        margin-top: 38px;
        height: 348.188px;
        border: solid;
        border-color: black;
        animation-name: load;
        animation-duration:0.75s;
        border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
    }

    @keyframes load{
        from {width: 0px;}
        to {width: 100%;} 
     }